<div class="bg_base_lr" style="padding-top: 30px; background: orange">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="max-width:350px;"></div>
      <div class="col-sm-6" style="">
        <form name="form" [formGroup]="createProgramForm" (ngSubmit)="createProgram()">
          <div class="form-group">
            <h3>Tạo chương trình học !</h3>
            <input type="text" class="form-control" formControlName="name" placeholder="Nhập tên chương trình"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="createProgramForm.get('name').invalid && createProgramForm.get('name').touched">
              Chương trình học không được để trống
            </div>
          </div>

          <div class="alert alert-success" role="alert" *ngIf="isSuccess === true">
            Thêm chương trình thành công
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isSuccess === false">
            Chương trình học đã tồn tại
          </div>

          <div class="form-group" style="text-align: center">
            <div>
            </div>
            <button class="btn btn-primary btn-green-moon" type="submit">Tạo mới</button>
          </div>
        </form>
      </div>
      <div class="col-sm-3" style="max-width:350px;"></div>
    </div>
  </div>
</div>
