<div class="bg_base_lr" style="padding-top: 30px">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="max-width:350px;"></div>
      <div class="col-sm-6" style="">
        <form name="form" [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            Họ và Tên
            <input type="text" class="form-control" formControlName="name" placeholder="Họ và tên"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="createUserForm.get('name').invalid && createUserForm.get('name').touched">
              Họ và tên ít nhất 6 ký tự và nhiều nhất 20 ký tự
            </div>
          </div>
          <div class="form-group">
            Tên Đăng Nhập
            <input type="text" class="form-control" formControlName="username" placeholder="Tên Đăng Nhập"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="createUserForm.get('username').invalid && createUserForm.get('username').touched">
              Mật khẩu ít nhất 3 ký tự và nhiều nhất 20 ký tự
            </div>
          </div>
          <div class="form-group">
            Email
            <input type="text" class="form-control" formControlName="email" placeholder="Email"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="createUserForm.get('email').invalid && createUserForm.get('email').touched">
              Sai định dạng Email
            </div>
          </div>
          <div class="form-group">
            Mật khẩu
            <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
            <div class="alert alert-danger" role="alert"
                 *ngIf="createUserForm.get('password').invalid && createUserForm.get('password').touched">
              Mật khẩu phải ít nhất 6 ký tự !
            </div>
          </div>

          <div class="form-group">
            Nhập lại mật khẩu !
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="ConfirmPassword">
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="createUserForm.hasError('notSame')&&createUserForm.get('confirmPassword').touched">
            Mật khẩu không khớp !
          </div>

          <div class="alert alert-success" role="alert" *ngIf="check === true">
            Đăng ký thành công !
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="check === false">
            Thông tin chưa chính xác hoặc email đã tồn tại !
          </div>
          <div class="form-group">
            <div>
            </div>
            <button class="btn btn-primary" type="submit">Đăng ký</button>
          </div>
        </form>
      </div>
      <div class="col-sm-3" style="max-width:350px;"></div>
    </div>
  </div>
</div>
